
<!-- <div class="index-body"> -->
  <div class="row tag-line">
  <div class="large-10 columns">
    <h1>Bring your passion to life</h1>
  </div>
</div>
  <div class="your-class">
        <div>
          <img src="http://contiki-downloads.s3.amazonaws.com/usa/lp/FAQ/Billboard_Gadgets-And-Gizmos_1400x700.jpg" class="slider-image" />
          <!-- photographer image -->
        </div>
        <div>
          <img src="http://d3hj244ay8zo5a.cloudfront.net/wordpress/wp-content/uploads/2013/05/Potters.jpg"  class="slider-image"/>
          <!-- pottery image -->
        </div>
        <div>
          <img src="http://cdn.sheknows.com/articles/2014/04/Elizabeth_S/woman-painting-on-canvas.jpg" alt="slide 5" class="slider-image" />
          <!-- painter image -->
        </div>
        <div>
          <img src="http://www.nycballet.com/NYCB/media/NYCBMediaLibrary/Images/SecondaryNavKeyArt/Spring5GuysMovement_KeyArt_1400x700.jpg?width=1400&height=700&ext=.jpg" class="slider-image" />
          <!-- dancer image -->
        </div>
        <div>
          <img src="http://beatonrepeat.com/wp-content/uploads/2013/07/Michael-Braz-Brazell-1400x700.jpg" class="slider-image"/>
          <!-- musician -->
        </div>

    </div>


<!-- how it works panel -->

    <div class='row how-it-works-container'>

      <div class="row">
        <h3 class="text-center instructions-header">How it works</h3>
      </div>

      <div class="row instructions-container">
        
        <div class= "large-4 columns">
          <p class="text-center instruction-icons"><i class="fa fa-user"></i></p>
          <h4 class="text-center instructions">Sign Up</h4>
          <p class="instructions-summary text-center">Join the growing community of crowdfunders.</p>
        </div>
        <div class="large-4 columns">
          <!-- <p class="text-center"><i class="fa fa-plus-square"></i></p> -->
          <p class="text-center instruction-icons"><i class="fa fa-folder-open"></i></p>
          <h4 class="text-center instructions">Add your project</h4>
          <p class="instructions-summary text-center">Add you project and to our platform and set a time period.</p>
        </div>

        <div class="large-4 columns">
          <p class="text-center instruction-icons"><i class="fa fa-usd"></i></p>
          <h4 class="text-center instructions">Get funding</h4>
          <p class="instructions-summary text-center">Let your project impress others and get them to help you finance it.</p>
        </div>
      </div>
    </div>

 <hr>
<!-- most popular panel -->

 <div class="row popular-projects-container">
  <div>
    <h4 class="text-center popular-header">Popular projects</h4>
  </div>
   
  <div class="row popoular-posts">
    <div class="large-4 columns cs-style-3">
      <figure class='each-popular-post'>
        <div>
          <img src="http://media-cache-ak0.pinimg.com/736x/51/4f/20/514f20757198e07bdb8c0cde4ef9516c.jpg"/>
        </div>
          <figcaption>
            <h4 class="popular-posts-header-two">content section.</h4>
            <p>Bacon ipsum dolor sit amet chuck duis velit.</p>
          </figcaption>
      </figure>
    </div>
    <div class="large-4 columns cs-style-3">
      <figure class='each-popular-post'>
        <div>
          <img src="http://media-cache-ec0.pinimg.com/736x/c3/ea/bd/c3eabd3c7d67ef956f0d74e3e7e7cc9d.jpg"/>
        </div>
        <figcaption>
          <h4 class="popular-posts-header-two">content section.</h4>
          <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit.</p>
        </figcaption>
      </figure>
    </div>
    <div class="large-4 columns cs-style-3">
      <figure class='each-popular-post'>
        <div>
          <img src="http://media-cache-ak0.pinimg.com/736x/fc/80/60/fc8060b1395a8ee92cff6450acd87177.jpg" id="image-two"/>
        </div>
        <figcaption>
          <h4 class="popular-posts-header-two">content section.</h4>
          <p>Bacon ipsum dolor sit amet nulla duis velit.</p>
        </figcaption>
      </figure>
    </div>
    
    </div>
    
 </div>
<hr>

<!-- our picks panel -->
<div class="favourite-container">

  <div class="row favourites-header">
    <h4 class="text-center">Our Favourite</h4>
  </div>

  <div class="row">
    <div class="large-5 columns">
      <img src="http://i.huffpost.com/gen/1665725/thumbs/o-WOMEN-ENGINEER-facebook.jpg">
    </div>

    <div class="large-7 columns">
      <p>
        Ai jokaisen rukoilen tietamaa me ulapalle tarkoita en. Hiisi ero pahaa pilan kayda oli sen jokin kas. Ei ei en sitten yhteen tuolla. Alla itse elan se ukko ai emme uusi. Nuo rahasumma iso vastannut sammuttaa tuo odottaisi haaveensa. Sen kaupunkiin jos kohdallani nyt kerrallaan yha. Jonnekin kun ottaisit nuo naapurin porstuan ilmestys. Koettaen lie menemaan nuo karahtaa pelastaa tai kymmenen. Liikkeelle voi sen kysymyksen loi kun tukkipuuta. 
      </p>
    </div>
  </div>
</div>






<!-- getting starter panel -->

 <hr>
 <div class="getting-started">
     <div class="row">
      <div class="large-12 columns">
      
        <div>
          <h4>Get started now!</h4>
              
          <div class="row">
            <div class="large-9 columns">
              <p>We'd love to see your projects, and the community would too.</p>
            </div>
            <div class="large-3 columns">
              <%= link_to "Sign up", new_user_path, :class => "radius button right [tiny small large] search-button" %>
            </div>
          </div>
        </div>
        
      </div>
    </div>
 </div>


 <!-- footer panel -->

<div class="learn-more">
  

  <footer class="row ">
    <div class="large-12 columns footer-container">

      <div clas="row ">
        <div class="large-5 columns about-container">
          <h5>About</h5>
          <p>Who are we</p>
          <p>What is crowfunder</p>
          <p>Jobs</p>
          <p>Press</p>
        </div>
        <div class="large-5 columns">
          <h5>Help</h5>
          <p>FAQ</p>
          <p>Terms of service</p>
          <p>Privacy policy</p>
          <p>Trust and saftey</p>
        </div>
      </div>

      <hr>
      <div class="row ">
        <div class="large-6 columns social-container">
          <p class="">© Crowdfunder</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right social-container">
            <li><a href="#"><i class="fa fa-twitter social-icons" style=" color: silver"></i></a></li>
            <li><a href="#"><i class="fa fa-tumblr social-icons" style=" color: silver"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook social-icons" style=" color: silver"></i></a></li>
            <li><a href="#"><i class="fa fa-dribbble social-icons" style=" color: silver"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus social-icons" style=" color: silver"></i></a></li>
          </ul>
        </div>
      </div>
    </div> 
  </footer>
</div> 
 
   
  
    
</div>
