<div class="projects-page-container">
  
   
    <div class="row">
      <div class="large-12 columns ">
        <h1 class="text-center projects-index-header">Discover projects</h1>
      </div>
    </div>
   
     
   
   
     
  <%= render @projects %>



  <hr>

  <!-- our picks panel -->
  <div class=" project-favourites-container">

    <div class="row project-page-favourites-header">
      <h4 class="text-center">Our favourite of the week</h4>
    </div>

    <div class="row">
      <div class="large-5 columns">
        <img src="http://i.huffpost.com/gen/1665725/thumbs/o-WOMEN-ENGINEER-facebook.jpg">
      </div>

      <div class="large-7 columns">
        <p>
          Ai jokaisen rukoilen tietamaa me ulapalle tarkoita en. Hiisi ero pahaa pilan kayda oli sen jokin kas. Ei ei en sitten yhteen tuolla. Alla itse elan se ukko ai emme uusi. Nuo rahasumma iso vastannut sammuttaa tuo odottaisi haaveensa. Sen kaupunkiin jos kohdallani nyt kerrallaan yha. Jonnekin kun ottaisit nuo naapurin porstuan ilmestys. Koettaen lie menemaan nuo karahtaa pelastaa tai kymmenen. Liikkeelle voi sen kysymyksen loi kun tukkipuuta. 
        </p>
      </div>
    </div>
  </div>
   
     
</div>     