<div class="projects-page-container">
  
   
    <div class="row">
      <div class="large-12 columns ">
        <h1 class="text-center projects-index-header">Discover projects</h1>
      </div>
    </div>
   
     
   
   
     
  <%= render @projects %>



  <hr>

  <!-- our picks panel -->
  <div class=" project-favourites-container">

    <div class="row project-page-favourites-header">
      <h4 class="text-center">Our favourite of the week</h4>
    </div>

    <div class="row">
      <div class="large-5 columns">
        <%= image_tag "crowd-energy.jpg"%>
      </div>

      <div class="large-7 columns">
        <h5>Project wind</h5>
        <p>
          Project wind is a a sustainability initiative, by Carmen gonzales who is the lead civil engineer for company The Wind Group. She has a passion and commitment to clean energy causes and would like to make a change in the clean energy sector. Her project focuses on setting up wind farms across the Americas but she also has an interest in solar energy and other forms of sustainable energy sources such as ethanol and biomas. Her project is currently based in Buenos Aires but she hopes to expand with the funds she recieves from her project.
        </p>
      </div>
    </div>
  </div>
   
     
</div>     