/*styling for the navigation bar*/

.fixed {
	z-index: 650;
}

ul.title-area{
	background-color: #E4ECF1 ;
	height: 60px;


}

 #app-logo {
	
	height: 60px;
	vertical-align: middle;
	background-color: #E4ECF1;

	a {
		font-family: Codystar;
		font-weight: 300;
		font-size: 25px;
		padding-left: 80px;
		background-color: #E4ECF1 !important;
		color: #4B72AB;
		/*height: 100%;*/
		padding-top: 8px;
		
		margin-top: 0;
		padding-right: 50px;
	}
}



.nav-top-bar {
	height: 60px;
	background-color: white; 
	box-shadow: 0 1px 3px #888888;	
}

.top-bar-section {
	margin-top: 0;
	height: 60px;
	max-width: none !important;
	position: static;

	/*padding-top: 8px;*/
	padding-right: 20px;
	background-color: white;
}


ul.right li.has-form{
	background-color: white;
	padding-top: 8px;
}

 ul.right li.links {
	padding-top: 8px;
	background-color: white;

	a {
		font-family: Lato;
		background-color:  white !important;
		color: gray
	}


	a:hover {
		color: silver;
	}
}

.search-button{
	background-color: silver
}

.search-button:hover{
	background-color: gray;
}

#triangle-topleft {  /* this gives the diagonal border to the logo */
	width: 0;
	height: 0;
	border-top: 60px solid #E4ECF1;
	border-right: 60px solid white;
}