.favourite-container {
	padding-top: 10px;
	padding-bottom: 100px;


		p {
			padding-top: 40px;
			font-family: lato;
			font-weight: 300;
			color: gray;
		}

	img {
		height: 350px;
		width: 550px;
		border: 6px solid #5D7C8B;
	}
}

.project-header {
		margin-bottom: 65px;
		margin-top: 50px;

		h1 {
			font-size: 40px;
			font-family: lato;
			color: gray;
			text-align: center;
		}

		h5 {
			font-family: lato;
			color: gray;
			text-align: center;
			font-weight: 300;
		}


	}



.pledge-button {
	background-color: gray;
	border-radius: 2px;
	font-family: lato;

}

.pledge-button:hover {
	background-color: silver;
}

.project-info-list {
	font-family: lato;

	color: gray !important;
	font-size: 25px !important;

}

/*styling for the rewards panel*/


