.favourite-container {
	padding-top: 10px;
	padding-bottom: 100px;


		p {
			padding-top: 40px;
			font-family: lato;
			font-weight: 300;
			color: gray;
		}

	img {
		height: 350px;
		width: 550px;
		border: 6px solid #5D7C8B;
	}
}

.project-header {
		margin-bottom: 65px;
		margin-top: 50px;

		h1 {
			font-size: 40px;
			font-family: lato;
			color: gray;
			text-align: center;
		}

		h5 {
			font-family: lato;
			color: gray;
			text-align: center;
			font-weight: 300;
		}


	}



.pledge-button {
	background-color: gray;
	border-radius: 2px;
	font-family: lato;

}

.pledge-button:hover {
	background-color: silver;
}

.project-info-list {
	font-family: lato;

	color: gray !important;
	font-size: 25px !important;

}

/*styling for the project-indexs page*/

.projects-page-container {
	
	background-repeat: no-repeat;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.4)), color-stop(100%,rgba(255,255,255,0.7))), image-url("crowd-bg.jpg") repeat 0 0;



}
.project-favourites-container{
	padding-top: 60px;
	padding-bottom: 100px;

		p {
		padding-top: 20px;
		font-family: lato;
		font-weight: 300;
		color: #333333;
		font-size: 17px;
	}

	h5 {
		font-family: lato;
		color: #333333;
	}

		img {
		height: 250px;
		border: 6px solid #5D7C8B;
	}
}
.projects-index-header {
	margin-top: 50px;
	margin-bottom: 0px;
	font-family: lato;
	color: #333333;
}

.project-page-favourites-header {
	margin-bottom: 65px;


	h4 {
			font-size: 40px;
			font-family: lato;
			color: #333333;

		}

}



/* styling for the popular posts*/

.popoular-posts {
	margin-top: 0px;
}

.project-caption-header{
	font-family: lato;
	font-weight: 300;
	padding-top: 30px;
}

.each-project {
	border: 6px solid #5D7C8B;
	height: 350px;
		width: 300px;
	position: relative;
	overflow: hidden;

	img {
		height: 100%;
		width: 100%;
		position: relative;
		display: block;
		border: 3px solid #5D7C8B;
	}

	figcaption {
		width: 100%;
		height: 150px;
		background-color: #5D7C8B;
		border: 2px solid #5D7C8B;
		position: absolute;
		bottom: 0;
		left: 0;
		margin-top: 0;
		margin-bottom: 0;
		-webkit-transition: transform 0.4s;


		h4 {
			padding-top: 5px;
			padding-left: 7px;

			a {
				color: white !important;

			}
		}

		p {
			color: white;
			padding-left: 12px;
			padding-right: 12px;
			margin-bottom: 4px;
			font-size: 9px;
		}


		#deadline {
			padding-bottom: 5px;
		}
	}

	figcaption:hover  {

		-webkit-transform: translateY(-30px);
	}

}
