/*.slider-container {
	/*width: 100%;*/
	/*height: 100%;*/
/*	margin-left:0; 
	margin-right:0;*/
	/*height: 600px;*/

/*
#slider {
	width:1366px;


	img {
		width:100%;
		height:595px;
	}

	.example-orbit {
		width: 100%;
		height: 100%;
	}
}


}
*/

.slider-image {
	height: 595px;
	width: 100%;
}